---
import "@estilos/base.css";

interface Props {
  titulo: string;
  descricao: string;
}

const { titulo, descricao } = Astro.props;
---

<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={descricao} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="index, follow" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={titulo} />
    <meta property="og:description" content={descricao} />
    <meta name="twitter:card" content="summary_large_image" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>{titulo}</title>
  </head>
  <body>
    <a class="link-pular" href="#conteudo-principal">Pular para o conteudo</a>
    <slot />
  </body>
</html>
